{% extends 'base.html' %}

{% block title %} Contact{% endblock title %}

{% block body %}
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static\img\1107244.jpg" class="d-block w-100 my-4" alt="...">
                {% comment %} <div class="carousel-caption d-none d-md-block">
                    </h5>Contact Us</h5>
                </div> {% endcomment %}
                <h1 class="text-center">Contact Us</h1>
            </div>
        </div>
    </div>
    {% comment %} form container {% endcomment %}
    <div class="container">
        <form method="post" action="/contact">
        {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" aria-describedby="emailHelp">
                {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp">
                {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            {% comment %} <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> {% endcomment %}
            <div class="mb-3">
                <label for="armyof" class="form-label">ArmyOfKpop</label>
                <input type="text" class="form-control" id="armyof" name="armyof" placeholder="Enter your name" aria-describedby="emailHelp">
                {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Tell about your Views</label>
                <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% comment %} <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
    </div> {% endcomment %}

    {% endblock body %}